body {
  background-color: rgb(148, 234, 122);
}

.centerBox {
  background-color: white;
  width: 65vw;
  height: auto;
  padding-bottom: 5vh;
  margin: 17.5vw;
  margin-top: 15vh;
  margin-bottom: 0px;

  border-radius: 20px;
  -webkit-box-shadow: 1px 7px 37px 0px rgb(10, 39, 5);
  -moz-box-shadow: 1px 7px 37px 0px rgb(10, 39, 5);
  box-shadow: 1px 7px 37px 0px rgb(10, 39, 5);
}

.header {
  display: flex;
  margin: 0.75vw;
  border-bottom: 2px black dashed;

  h1 {
    margin-left: 0.5vw;
    flex-grow: 1;
  }

  button {
    width: 5vw;
    margin: 0.67em;
    background-color: white;
    border: 2px solid rgb(148, 234, 122);
    border-radius: 10px;
    transition-duration: 0.25s;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  button:hover {
    transition-duration: 0.25s;
    background-color: rgba(148, 234, 122, 0.5);
    box-shadow: 1px 7px 37px 0px rgba(148, 234, 122, .35);
    cursor: pointer;
  }
}


.entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entryArea {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-left: 0.5vw;
  background-color: #17440e;
  color: white;
  padding-left: 2vw;
  width: 62vw;
  border-radius: 15px;
  transition-duration: 0.5s;
  overflow: hidden;

  h2 {
    margin-top: 2.5vh;
    font-size: 2rem;
    flex-grow: 1;
  }

  img {
    height: 50px;
    width: 50px;
    margin-right: 1vw;
    transition-duration: 0.25s;
    border-radius: 5px;
  }

  img:hover {
    transition-duration: 0.25s;
    background-color: rgba(0, 0, 0, 0.1);
  }

  button {
    height: 50px;
    width: 50px;
    margin-right: 1vw;
  }
}

.notesArea {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 3vh;

  textarea {
    width: 35vw;
    height: 15vh;
    margin-right: 1vw;
  }

  button {
    height: 3vh;
  }
}

.addEntryScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  input {
    margin-left: 1vw;
  }

  form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }
}